.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
background: linear-gradient(264deg,rgba(0, 234, 255, 0.77),rgba(158, 118, 187, 0.81));   
 cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
}

.nav-connect:hover{
     
     transform: scale(1.05);
}

.nav-menu li{
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.nav-menu li img{
    display: flex;
    margin: auto;

}

.anchor-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.anchor-link:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.nav-mob-close{
    display: none;
    cursor: pointer;
 }
.nav-mob-open{
    display: none;
    cursor: pointer;
     color: rgb(17, 11, 79);   

}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: rgb(17, 11, 79);    
        
         width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left:100px ;
        flex-direction: row;
        gap: 20px;
    }
}